body {
    background-color: sienna;
}
.laggtill {
    margin-top: 10px;
}

.view {
    width: 400px;
    height: 60px;
    margin-top: 10px;
}

.bort {
    width: 400px;
    height: 60px;
    margin-top: 10px;
    
}

.paragraf {
    margin-top: 100px;
    color: white;
    font-size: small;
}